
#calendar {
   width: 90%;
   max-width: 600px;
   height: 400px;
   overflow: auto;
   font-size: 14px;
   margin-left: auto;
   margin-right: auto;
}

.text {
   color: white;
   text-align: center;
}


.bg-div {
   background-color: #343a40;
   border-radius: 10px; 
   color: white; 
}

.header {
   margin-top: 40px;
   margin-left: 40px;
   margin-right: 40px;
   justify-content: center;
   min-height: 100px; 
}


.d-flex {
   display: flex;
}

.align-items-center {
   align-items: center;
}

.background {
    background-color:black;
}


/* calendar */
.fc-day {
   background-color: #343a40;
}

.fc-day-mon .fc-daygrid-day-top {
   position: relative;
}

.fc-day-mon .fc-daygrid-day-top::before {
   content: "Fermé";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: red;
}



/* caroussel */
.carousel-control-prev, .carousel-control-next {
   opacity: 0;
   transition: opacity 0.3s ease;
}

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next {
   opacity: 0.3;
}

.carousel:not(:hover) .carousel-control-prev, .carousel:not(:hover) .carousel-control-next {
   display: none;
}
