.fc-title-room {
   color: red !important; 
}
#calendar {
   width: 90%;
   max-width: 600px;
   height: 400px;
   overflow: auto;
   font-size: 14px;
   margin-left: auto;
   margin-right: auto;
}

.text {
   color: white;
   text-align: center;
}

.bg-div {
   background-color: #343a40;
   border-radius: 10px; 
   color: white; 
}

.header {
   margin-top: 40px;
   margin-left: 40px;
   margin-right: 40px;
  
   min-height: 100px; 
}
/* .text {
  
} */


.d-flex {
   display: flex;
}

.align-items-center {
   align-items: center;
}

.background {
    background-color:black;
}



.fc-day {
   background-color: #343a40;
}

.fc-day-mon .fc-daygrid-day-top {
   position: relative;
}

.fc-day-mon .fc-daygrid-day-top::before {
   content: "Fermé";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: red;
}


